@media screen and (max-width: 1000px) {
    .card{
        width: 700px ;
    }
  }

  @media screen and (max-width: 800px) {
    .card{
        width: 500px ;
    }
  }

  @media screen and (max-width: 500px) {
    .card{
        width: 300px ;
    }
  }

  @media screen and (max-width: 320px) {
    .card{
        width: 100px ;
    }
  }